pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.Ulysses*

\.idea/

\.DS_Store


# Ignore sketch files
*.sketch
design/.DS_Store
**/node_modules/
inventist-client/checkouts
