/* some style */
p {
    /*line-height: normal;*/
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.icon {
    height: 20px;
    margin: 2px;
}

.capitalize {
    text-transform: capitalize;
}

/*

body {
    font-family: Lato, SansSerif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.detail-container {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.detail-header {
    height: 50px;
    background-color: #ccc;
    position: fixed;
    top: 0px;
    width: 100%;
}

.detail-main {
    flex: auto;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.detail-identity {
    flex: auto;
}

.detail-image {
    flex: auto;
}

.detail-footer {
    height: 50px;
    background-color: #ccc;
    position: fixed;
    bottom: 0px;
    width: 100%;
}


.line-ht-none {
    line-height: 0px;
}
 */
