/*
Only global styling is kept in this file.
Most of the styling is local to components and
common styling is kept in symbols directory in src.
*/

html {
    font-size: 1rem;
}

textarea, select, input, button {
    font-size: 1rem;
}

body {
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

a:link, a:visited, a:hover, a:active {
    color: #002A40;
    /*4A90E2*/
    text-decoration: none;
}

.collection-item-edit {
    display: none;
}

.collection-item:hover .collection-item-edit {
    display: block !important;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black; !* If you want dots under the hoverable text *!*/
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 2rem;
    width: max-content;
    max-width: 4rem;
    background-color: hsla(200, 100%, 85%, 1);
    color: hsla(200, 100%, 25%, 1);
    font-size: 0.75rem;
    text-align: center;
    padding: 05px 10px;
    border-radius: 4px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 90%;
    right: 0;
    margin-left: 0;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent hsla(200, 100%, 85%, 1) transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}