/*
Only global styling is kept in this file.
Most of the styling is local to components and
common styling is kept in symbols directory in src.
*/

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

a:link, a:visited, a:hover, a:active {
    color: #4A90E2;
    text-decoration: none;
}